<div class="bg-amber-50 shadow-sm w-full">
  <div class="container mx-auto px-4 py-2 flex flex-wrap items-center gap-8">
    <%= nav_render_social_links %>
    <div class="flex items-center space-x-4 flex-1">
      <div class="dropdown">
        <button role="button" class="btn btn-sm btn-outline btn-secondary flex items-center cursor-pointer list-none">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
          </svg>
          <span class="mr-2"><%= current_user.present? ? current_user.email : "" %></span>
          <span>حساب</span>
        </button>
        <div class="dropdown-content bg-white shadow-lg rounded-md mt-2">
          <div class="py-1 text-center whitespace-nowrap">
            <% if current_user&.present? %>
              <%= link_to "الملف الشخصي", "#", class: "block px-4 py-2 text-sm text-gray-700 hover:bg-amber-100" %>
              <%= link_to "الإعدادات", "#", class: "block px-4 py-2 text-sm text-gray-700 hover:bg-amber-100" %>
              <%= button_to "تسجيل الخروج", destroy_user_session_path, method: :delete, class: "w-full block px-4 py-2 text-sm text-gray-700 hover:bg-amber-100", data: { confirm: "هل أنت متأكد أنك تريد تسجيل الخروج؟" } %>
            <% else %>
              <%= link_to "تسجيل الدخول", new_user_session_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-amber-100" %>
              <%= link_to "إنشاء حساب", new_user_registration_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-amber-100" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="relative max-w-sm w-full">
        <%= link_to "/search", class: "outline-none",
              aria: {keyshortcuts: "Meta+k, Control+k"},
              data: {hotkey_target: "shortcut"} do %>
          <div class="flex items-center justify-end gap-4 text-right border p-2 rounded-md bg-white w-full">
            <span class="text-md">بحث الحلقات</span>
            <kbd class="kbd kbd-sm">
              <abbr title="Command" class="no-underline mr-1">⌘</abbr> K
            </kbd>
          </div>
        <% end %>
      </div>
    </div>
    <div class="text-right ml-auto">
      <%= link_to root_path do %>
        <div class="flex items-center">
          <%= image_tag @current_tenant.logo_light.variant(resize_to_fit: [200,200]), alt: @current_tenant.name, class: "h-16 ml-2" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="bg-white border-t border-amber-100 hidden lg:block">
    <div class="container mx-auto">
      <%= render_nav_links %>
    </div>
  </div>
  <div class="lg:hidden dropdown container mx-auto px-4 py-2">
    <button class="text-amber-900 hover:text-amber-600 focus:outline-none">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </button>
    <div class="dropdown-content bg-amber-50 w-full">
      <%= render_mobile_nav_links %>
    </div>
  </div>
</div>