<header
  data-controller="3ilm--header"
  data-3ilm--header-target="header"
  class="bg-base-200 shadow-sm transition-transform duration-300"
>
  <div class="bg-navbar text-navbar-contrast">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 flex items-center justify-between h-[var(--header-height)]">
      <%= link_to root_path, class: "flex items-center gap-3 flex-row-reverse h-auto" do %>
        <img src="<%= @logo_url %>" alt="<%= t('site.name') %> Logo" width="200" height="200" class="w-[200px] h-[150px] object-contain" />
      <% end %>
      <label for="sidebar-drawer" class="btn btn-ghost drawer-button lg:hidden">
        <%= icon "menu", library: "lucide", class: "size-5" %>
      </label>
      <div class="hidden md:flex flex-row-reverse gap-2 items-center w-full flex-1 mr-auto">
        <div class="hidden md:flex items-center gap-1">
          <%= link_to site_info[:youtube_url], class: "btn btn-ghost btn-sm p-1" do %>
            <%= icon "youtube", library: "lucide", class: "size-5" %>
          <% end %>
          <%= link_to site_info[:twitter_url], class: "btn btn-ghost btn-sm p-1" do %>
            <%= icon "twitter", library: "lucide", class: "size-5" %>
          <% end %>
        </div>
        <%= link_to search_path, class: "btn btn-secondary btn-sm" do %>
          <%= icon "magnifying-glass", class: "size-4" %>
          <span><%= t('buttons.search_button') %></span>
        <% end %>
      </div>
    </div>
  </div>
</header>
