<div class="bg-card hover:bg-card-hover text-card-contrast border border-background-contrast rounded-lg p-6 hover:shadow-md transition-shadow">
  <div class="flex flex-col sm:flex-row items-start space-x-4 rtl:space-x-reverse">
    <div class="hidden flex-shrink-0 w-24 h-24 rounded overflow-hidden bg-background-subtle">
      <% if lecture.thumbnail.attached? %>
        <%= image_tag(lecture.thumbnail,
            alt: lecture.title,
            class: "w-full h-full object-cover") %>
      <% else %>
        <%= image_tag('audio-thumbnail.jpg',
            alt: lecture.title,
            class: "w-full h-full object-cover") %>
      <% end %>
    </div>
    <div class="flex-1">
      <h3 class="text-lg font-semibold text-foreground mb-2">
        <%= link_to lecture.title, lecture_path(lecture), class: "hover:text-primary-500" %>
      </h3>
      <div class="badge badge-primary mb-2">
        <%= lecture.category %>
      </div>
    </div>
    <div class="ml-4 rtl:mr-4 rtl:ml-0 flex-shrink-0 flex items-center gap-2">
      <%= play_button(resource: lecture) %>
      <% if lecture.youtube_url.present? %>
        <%= link_to youtube_embed_url(lecture.youtube_url), class: "btn btn-secondary gap-2", target: "_blank" do %>
          <%= icon "youtube", library: "lucide", class: "size-5" %>
          <span class="text-sm whitespace-nowrap">
            <%= t('buttons.watch_on_youtube') %>
          </span>
        <% end %>
      <% end %>
      <%= link_to lecture_path(lecture), class: "btn btn-primary gap-2" do %>
        <%= icon "eye", class: "size-5" %>
        <span class="text-sm whitespace-nowrap">
          <%= t('buttons.view') %>
        </span>
      <% end %>
    </div>
  </div>
</div>