<% content_for :title, t('navigation.lectures') %>
<div class="card bg-base-100 shadow-sm">
  <div class="card-body">
    <h1 class="card-title text-2xl"><%= t('.title') %></h1>
    <%= render 'shared/filters' %>
    <% if @lectures.any? %>
      <div class="bg-base-100 rounded-lg shadow-sm overflow-hidden">
        <div class="divide-y divide-gray-200">
          <% @lectures.each_with_index do |lecture, idx| %>
            <%= render "shared/playlist_card", resource: lecture, with_icon: true, index: idx, show_scholar: true, link_to_resource: true %>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="text-center text-gray-500 py-8">
        <p>
          <%= t(".no_lectures") %>
        </p>
      </div>
    <% end %>
    <%= render 'shared/pagination' %>
  </div>
</div>
