<% content_for :title, @lecture.title %>
<div class="min-h-screen bg-base-200">
  <div class="container mx-auto px-4 py-8">
    <div class="flex flex-col lg:flex-row items-center lg:items-end gap-6 mb-10">
      <div class="w-60 h-56 bg-gray-200 rounded-lg overflow-hidden flex-shrink-0">
        <% if @lecture.video? %>
          <video controls class="w-full h-full object-cover rounded">
            <source src="<%= url_for(@lecture.video) %>" type="<%= @lecture.video.content_type %>">
            <%= t('common.browser_no_support_video') %>
          </video>
        <% elsif @lecture.youtube_url.present? %>
          <div class="aspect-video">
            <iframe src="<%= youtube_embed_url(@lecture.youtube_url) %>"
                    frameborder="0"
                    allowfullscreen
                    class="w-full h-full rounded"></iframe>
          </div>
        <% else %>
          <%= image_tag("background.jpg", class: "w-full h-full object-cover") %>
        <% end %>
      </div>
      <!-- Text Content -->
      <div class="flex-1 text-right">
        <h1 class="text-4xl font-bold mb-4"><%= @lecture.title %></h1>
        <div class="flex items-center justify-right gap-4 mb-4">
          <% if @lecture.scholar.present? %>
            <h2 class="text-base font-semibold">
              <%= link_to @lecture.scholar.name, scholar_path(@lecture.scholar), class: "hover:underline" %>
            </h2>
          <% end %>
        </div>
        <div class="flex items-center justify-center lg:justify-start gap-3 text-sm text-gray-500 mb-4">
          <% if @lecture.category.present? %>
            <span class="badge badge-primary rounded-full"><%= @lecture.category %></span>
          <% end %>
          <% if @lecture.published_at %>
            <time class="badge badge-secondary rounded-full"><%= @lecture.published_at.strftime("%Y/%m/%d") %></time>
          <% end %>
        </div>
        <% if @lecture.description.present? %>
          <p class="text-gray-600 max-w-2xl mx-auto lg:mx-0">
            <%= truncate(@lecture.description, length: 180) %>
          </p>
        <% end %>
      </div>
    </div>
    <% if @lecture.has_any_audio? || @lecture.video? %>
      <div class="card bg-base-100 shadow mb-8">
        <div class="card-body">
          <h3 class="card-title"><%= t(".download_options")%></h3>
          <div class="card-actions justify-start">
            <div class="flex flex-wrap gap-4">
              <% if @lecture.has_any_audio? %>
                <%= link_to direct_download_url(@lecture.best_audio), download: true, target: "_blank", class: "btn btn-primary w-fit" do %>
                  <%= icon "arrow-down-tray", class: "size-5" %>
                  <%= t("buttons.download_audio")%>
                <% end %>
                <%= play_button(resource: @lecture) %>
              <% end %>
              <% if @lecture.video? %>
                <%= link_to direct_download_url(@lecture.video), download: true, target: "_blank", class: "btn btn-secondary w-fit" do %>
                  <%= icon "arrow-down-tray", class: "size-5" %>
                  <%= t("buttons.download_video")%>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
