<div class="search-section mt-8 card bg-base-100 shadow-sm">
  <div class="card-body">
    <div class="flex justify-between">
      <h3 class="card-title">
        <%= t("navigation.#{model_name.to_s.pluralize}") %>
        <span class="text-sm font-normal">
          (<%= data['hits'].length %> <%= t("search.results.of", default: "of") %> <%= data['found'] %> <%= t(".result_count", count: data['found']) %>)
        </span>
      </h3>
      <%= link_to t('search.view_all', default: 'View all'),
                url_for(controller: model_name.to_s.pluralize, action: 'index'),
                class: "btn btn-outline btn-sm" %>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <% data["hits"].each do |hit| %>
        <%= render "search/results/#{model_name.to_s}", model_name.to_s.to_sym => hit["document"] %>
      <% end %>
    </div>
  </div>
</div>
