<% content_for :title, t('navigation.articles') %>
<div class="container mx-auto">
  <div class="card bg-base-100 shadow-sm">
    <div class="card-body">
      <h1 class="card-title"><%= t('.title') %></h1>
      <%= render 'shared/filters' %>
      <% if @articles.any? %>
        <div class="bg-base-100 rounded-lg shadow-sm overflow-hidden">
          <div class="divide-y divide-gray-200">
            <% @articles.each_with_index do |article, idx| %>
              <%= render "shared/playlist_card", resource: article,
                    with_icon: true, index: idx, linkable: true,
                    custom_icon: "document-text", show_scholar: true, show_category: false %>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="text-center text-gray-500 py-8">
          <p>
            <%= t(".no_articles") %>
          </p>
        </div>
      <% end %>
      <%= render 'shared/pagination' %>
    </div>
  </div>
</div>
