<%
  # Generate unique modal ID based on resource type and ID
  modal_id = "share_modal_#{resource.class.name.downcase}_#{resource.id}"
  share_url = resource.is_a?(Lesson) ? polymorphic_url(resource.series) : polymorphic_url(resource)
  linkable = local_assigns[:linkable].present? ? local_assigns[:linkable] : false
  resource_link =  resource.is_a?(Lesson) ? polymorphic_path(resource.series) : polymorphic_path(resource)
%>
<div class="p-4 hover:bg-gray-50 transition">
  <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-3">
    <div class="flex items-center gap-4 flex-1 min-w-0">
      <% if local_assigns[:with_icon].present? %>
        <div class="p-2 rounded border border-background-contrast flex-shrink-0">
          <%= icon "book-open", class: "size-5" %>
        </div>
      <% else %>
        <% if local_assigns[:index].present? %>
          <span class="text-gray-500 w-8 text-center text-base font-medium flex-shrink-0"><%= local_assigns[:index] + 1 %></span>
        <% end %>
      <% end %>
      <div class="flex-1 min-w-0">
        <% if linkable %>
          <%= link_to resource_link do %>
            <h3 class="font-medium text-base mb-1 truncate hover:link"><%= resource.title %></h3>
          <% end %>
        <% else %>
          <h3 class="font-medium text-base mb-1 truncate"><%= resource.title %></h3>
        <% end %>
      </div>
    </div>
  </div>
  <div class="flex items-center gap-2 flex-shrink-0 justify-end">
    <% if resource.respond_to?(:has_any_audio?) && resource.has_any_audio? %>
      <%= play_button(resource: resource, klass: "btn btn-secondary btn-sm") %>
      <%= link_to(rails_blob_url(resource.best_audio, disposition: "attachment"), download: true, target: "_blank", class: "btn btn-secondary btn-sm w-fit") do %>
        <%= icon "arrow-down-tray", class: "size-3 sm:size-5" %>
      <% end %>
    <% elsif resource.respond_to?(:video?) && resource.video? %>
      <%= video_modal_button(resource:, klass: "btn btn-secondary btn-sm") %>
      <%= link_to(rails_blob_url(resource.video, disposition: "attachment"), download: true, target: "_blank", class: "btn btn-secondary btn-sm w-fit") do %>
        <%= icon "arrow-down-tray", class: "size-3 sm:size-5" %>
      <% end %>
    <% elsif resource.respond_to?(:youtube_url?) && resource.youtube_url? %>
      <%= youtube_modal_button(resource:, klass: "btn btn-secondary btn-sm") %>
    <% end %>
    <button class="btn btn-secondary btn-sm"
            data-controller="share-trigger"
            data-share-trigger-modal-id-value="<%= modal_id %>"
            data-action="click->share-trigger#open">
      <%= icon "share", class: "size-4"%>
    </button>
  </div>
</div>
<%= render 'shared/share_modal', 
    modal_id: modal_id,
    url: share_url,
    title: resource.title,
    text: resource.title %>