<% content_for :title, t('navigation.fatwas') %>
<div class="container mx-auto">
  <div class="card bg-base-100 shadow-sm">
    <div class="card-body">
      <h1 class="card-title"><%= t('.title') %></h1>
      <%= render 'shared/filters' %>
      <% if @fatwas.any? %>
        <div class="bg-base-100 rounded-lg shadow-sm overflow-hidden">
          <div class="divide-y divide-gray-200">
            <% @fatwas.each_with_index do |fatwa, idx| %>
              <%= render "shared/playlist_card", resource: fatwa,
                    with_icon: true, index: idx, linkable: true,
                    custom_icon: "scale", show_scholar: true, show_category: true %>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="text-center text-gray-500 py-8">
          <p>
            <%= t(".no_fatwas") %>
          </p>
        </div>
      <% end %>
      <%= render 'shared/pagination' %>
    </div>
  </div>
</div>
