<section class="relative w-full overflow-hidden">
  <!-- Background Image -->
  <div class="absolute inset-0">
    <%= image_tag "background.jpg", height: 600, class: "absolute inset-0 w-full h-full object-cover object-center z-[-1]" %>
    <div class="absolute inset-0 bg-black/20"></div>
  </div>
  <!-- Content -->
  <div class="relative container mx-auto h-full flex flex-col justify-center p-6 md:p-12 z-10">
    <div class="max-w-3xl">
      <!-- Category & Date -->
      <div class="flex items-center text-sm mb-3 gap-2">
        <span class="bg-gray-800 text-white text-xs font-medium px-3 py-1 rounded-full">
          <%= lesson.category %>
        </span>
        <span class="text-white"><%= format_date(lesson.published_at) %></span>
      </div>
      <!-- Title -->
      <h1 class="text-3xl md:text-5xl font-bold mb-6 text-white">
        <%= lesson.title %>
      </h1>
      <!-- Description -->
      <p class="text-sm md:text-base mb-8 leading-relaxed text-white">
        <%= lesson.description %>
      </p>
      <!-- Buttons -->
      <div class="flex gap-4">
        <%= link_to t('buttons.read_more'), lesson_path(lesson), class: "btn btn-secondary w-fit" %>
        <%= play_button(resource: lesson, path: play_lesson_path(lesson))%>
      </div>
    </div>
  </div>
</section>
