<%= link_to book_path(book), class: "block bg-background border border-background-subtle rounded-lg p-6 hover:shadow-md transition-shadow hover:text-inherit" do %>
  <% if book.cover_image.present? %>
    <div class="mb-4">
      <%= image_tag book.cover_image, class: "w-full h-48 object-cover rounded" %>
    </div>
  <% end %>
  <h3 class="text-lg font-semibold text-foreground mb-2 break-words">
    <%= book.title %>
  </h3>
  <% if book.author.present? %>
    <p class="text-sm text-foreground mb-2"><%= book.author.name %></p>
  <% end %>
  <p class="text-foreground text-sm mb-4"><%= truncate(book.description, length: 100) %></p>
  <div class="flex items-center justify-between text-sm text-foreground">
    <span class="badge badge-primary"><%= book.category %></span>
    <div class="flex space-x-4 rtl:space-x-reverse">
    </div>
  </div>
<% end %>