<div class="block bg-card hover:bg-card-hover text-card-contrast border border-background-contrast rounded-lg p-6 hover:shadow-md transition-shadow">
  <div class="flex flex-col sm:flex-row sm:items-start sm:justify-between">
    <div class="flex-1">
      <% if lesson.series.present? %>
        <p class="badge badge-primary mb-2">
          <%= link_to lesson.series.title, series_path(lesson.series) %>
        </p>
      <% end %>
      <h3 class="text-xl font-semibold mb-2">
        <%= link_to "#{lesson.title} - #{lesson.series.title}", lesson_path(lesson), class: "hover:text-primary-500" %>
      </h3>
      <p class="text-sm mb-4"><%= truncate(lesson.description, length: 200) %></p>
      <div class="flex items-center justify-between text-sm">
        <% if false %>
          <span class="bg-background-subtle px-2 py-1 rounded"><%= lesson.category %></span>
        <% end %>
        <div class="flex space-x-4 rtl:space-x-reverse">
        </div>
      </div>
    </div>
    <div class="mr-4 rtl:ml-4 rtl:mr-0 flex items-center gap-2">
      <%= play_button(resource: lesson) %>
      <% if lesson.youtube_url.present? %>
        <%= link_to youtube_embed_url(lesson.youtube_url), class: "btn btn-secondary gap-2", target: "_blank" do %>
          <%= icon "youtube", library: "lucide", class: "size-5" %>
          <span class="text-sm whitespace-nowrap">
            <%= t('buttons.watch_on_youtube') %>
          </span>
        <% end %>
      <% end %>
      <%= link_to lesson_path(lesson), class: "btn btn-primary gap-2" do %>
        <%= icon "eye", class: "size-5" %>
        <span class="text-sm whitespace-nowrap">
          <%= t('buttons.view') %>
        </span>
      <% end %>
    </div>
  </div>
</div>