<% content_for :title, t('navigation.lessons') %>
<div class="bg-background-subtle min-h-screen py-8">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 gap-8">
      <div class="lg:col-span-2">
        <div class="bg-background rounded-lg shadow-md p-6">
          <h1 class="text-2xl font-bold text-foreground mb-6"><%= t('.title') %></h1>
          <p class="text-foreground mb-6"><%= t('.description') %></p>
          <%= render 'shared/filters' %>
          <% if @lessons.any? %>
            <div class="grid grid-cols-1 gap-6">
              <% @lessons.each do |lesson| %>
                <%= render partial: "lesson_card", locals:{ lesson: lesson}%>
              <% end %>
            </div>
          <% else %>
            <div class="text-center text-foreground py-8">
              <p><%= t('.no_lessons') %></p>
            </div>
          <% end %>
          <%= render 'shared/pagination' %>
        </div>
      </div>
    </div>
  </div>
</div>