<div class="card card-side card-border bg-base-100 shadow-sm card-sm">
  <div class="card-body">
    <h2 class="card-title">
      <%= link_to book['title'], book_path(book['slug']), class: "hover:text-primary" %>
    </h2>
    <div class="flex items-center gap-2 mb-2">
      <span class="text-sm text-base-content/70">
        <%= book['author'] %>
      </span>
    </div>
    <% if book['description'].present? %>
      <p class="text-sm line-clamp-3"><%= truncate(strip_tags(book['description']), length: 150) %></p>
    <% end %>
  </div>
  <figure>
    <% if book['thumbnail_url'].present? %>
      <%= image_tag book['thumbnail_url'], alt: book['title'], class: "rounded-l-lg w-full object-contain" %>
    <% else %>
      <div class="w-full h-full bg-base-200 rounded-l-lg flex items-center justify-center">
        <%= icon "book-open", class: "w-12 h-12 text-base-content/50" %>
      </div>
    <% end %>
  </figure>
</div>
