<div class="card card-border bg-base-100 card-sm overflow-hidden relative shadow-sm hover:shadow-lg transition-shadow">
  <% if news.thumbnail_url.present? %>
    <figure class="h-56">
      <%= image_tag news.thumbnail_url, alt: news.title, class: "w-full h-full object-cover" %>
    </figure>
  <% end %>
  <div class="card-body">
    <h2 class="card-title">
      <%= link_to news.url, class: "hover:text-primary line-clamp-2 stretched-link", data: { turbo_frame: "_top" } do %>
        <%= sanitize(news.highlighted_title, tags: %w[mark]) %>
      <% end %>
    </h2>
    <% if news.scholar_name.present? %>
      <div class="flex items-center gap-2 mb-2">
        <span class="text-sm text-base-content/70"><%= t('search.results.sheikh') %> <%= news.scholar_name %></span>
      </div>
    <% end %>
    <% if news.description.present? %>
      <p class="text-xs line-clamp-2"><%= truncate(strip_tags(news.description), length: 80) %></p>
    <% end %>
  </div>
</div>
