<div class="bg-card hover:bg-card-hover text-card-contrast border border-background-contrast rounded-lg p-4 flex flex-col sm:flex-row sm:items-center sm:justify-between gap-2 hover:shadow transition">
    <h1>
      <%= lesson.title %>
    </h1>
  <div class="flex items-center gap-2 flex-wrap">
    <%= play_button(resource: lesson, klass: "btn btn-secondary w-fit whitespace-nowrap") %>
    <% if lesson.youtube_url.present? %>
      <%= link_to youtube_embed_url(lesson.youtube_url), class: "btn btn-secondary w-fit gap-2", target: "_blank" do %>
        <%= icon "youtube", library: "lucide", class: "size-5" %>
        <span class="text-sm whitespace-nowrap">
          <%= t('buttons.watch_on_youtube') %>
        </span>
      <% end %>
    <% end %>
  </div>
</div>