<%= link_to series_path(series.scholar, series), class: "card card-border bg-base-100 shadow-sm hover:shadow-md transition-shadow w-full" do %>
  <div class="card-body">
    <h3 class="card-title">
      <%= series.title %>
    </h3>
    <span class="inline-flex items-center gap-2 text-sm">
      <%= pluralize(series.lessons.for_domain_id(@domain.id).count, 'درس') %>
      <%= icon "book-open", class: "size-5 text-primary-500" %>
    </span>
    <p class="text-sm"><%= truncate(series.description, length: 150) %></p>
    <div class="card-actions justify-start">
      <span class="btn btn-primary btn-outline w-fit pointer-events-none">
        <%= t("buttons.view_series")%>
        <%= icon "arrow-left", class: "size-5" %>
      </span>
    </div>
  </div>
<% end %>
