<%= link_to series_path(series.scholar, series), class: "block bg-card hover:bg-card-hover text-card-contrast w-full border border-base-300 rounded-lg p-6 hover:shadow-md transition-shadow" do %>
  <h3 class="text-lg font-semibold  mb-2 hover:text-primary-500">
    <%= series.title %>
  </h3>
  <span class="inline-flex items-center gap-2 text-sm ">
    <%= pluralize(series.lessons.for_domain_id(@domain.id).count, 'درس') %>
    <%= icon "book-open", class: "size-5 text-primary-500" %>
  </span>
  <p class="text-sm mb-4"><%= truncate(series.description, length: 150) %></p>
  <div class="flex items-center justify-between text-sm ">
    <button class="btn btn-primary btn-outline w-fit">
      <%= t("buttons.view_series")%>
      <%= icon "arrow-left", class: "size-5" %>
    </button>
  </div>
<% end %>
