<% content_for :title, t('navigation.series') %>
<div class="min-h-screen py-8">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 gap-8">
      <div class="lg:col-span-2">
        <div class="rounded-lg shadow-md p-6 border border-background-contrast">
          <h1 class="text-2xl font-bold mb-6">
            <%= t('.title') %>
          </h1>
          <p class="text-foreground mb-6">
            <%= t('.description') %>
          </p>
          <%= render 'shared/filters' %>
          <% if @series.any? %>
            <div class="flex flex-col items-center gap-3">
              <% @series.each do |series| %>
                <%= render partial: "series_card", locals: { series: series }%>
              <% end %>
            </div>
          <% else %>
            <div class="text-center py-8">
              <p><%= t('.no_series') %> </p>
            </div>
          <% end %>
          <%= render 'shared/pagination' %>
        </div>
      </div>
    </div>
  </div>
</div>