<!DOCTYPE html>
<html dir="rtl" lang="ar">
  <head>
    <title><%= content_for(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <%# Domain-specific favicons %>
    <%= favicon_link_tags %>
    <%# Includes built stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%# Include domain custom CSS %>
    <% if custom_css_tag %>
      <style nonce="<%= content_security_policy_nonce %>">
        <%= custom_css_tag %>
      </style>
    <% end %>
    <%= javascript_importmap_tags %>
    <%= Sentry.get_trace_propagation_meta.html_safe %>
  </head>
  <body class="bg-background text-main-text">
    <%= render 'shared/header' %>
    <%= render 'shared/news_bar' %>
    <main class="min-h-screen w-full">
      <% unless controller_name == 'home' %>
        <div class="container mx-auto px-4">
          <%= render 'shared/breadcrumb' %>
        </div>
      <% end %>
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
    <%= render 'shared/audio_player' %>
  </body>
</html>
